@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>This website is intended solely for educational purposes. Its goal is to provide users with the opportunity to acquire knowledge and skills in various fields through access to educational content, courses, and informational materials. We do not collect, store, or use personal data for commercial purposes. Our priority is to deliver valuable education and learning, supporting the personal and professional development of our users</p>
